        <!-- Background image -->
        <div
          class="p-5 text-center bg-image"
          style="
            background-image: url('ASSETS/unsplash graph.jpg');
            height:400px;
          "
        >
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">Pfolio</h1>
                <h4 class="mb-3">Your Portfolio Manager</h4>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button"
                  >Sign-Up</a
                >
              </div>
            </div>
          </div>`
        </div>
        <!-- Background image -->