<div style="background-image: url('/images/money.jpeg'); background-size:cover;">
<div class="jumbotron" style="background-color: transparent; color: white; text-shadow: 1px 1px #000 ">
  <h1 class="display-4">WallIT</h1>
  <p class="lead">The streamlined solution for all of your portfolio tracking needs!</p>
  <hr class="my-4">
  <p>Try our service, free! </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/login" role="button">Log-in</a>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign-up</a>
  </p>
</div>
</div>

<div class="row">
  
  <div class="col-md-4">
    <div class="d-flex justify-content-center h-100 pt-4">
      <div class="card shadow">
        <div class="card-header bg-secondary text-light">
          <h3>Track your Favorite Stonks!</h3>
        </div>
        <div class="card-body">
           <img alt="Card image cap" class="card-img-top img-fluid" src="images/stocks.png" /> 
          <p class="text-info">Your stock portfolio all in one place on WallIT!</p>
        </div>
        <div class="card-footer bg-secondary">
        </div>
      </div>
    </div>
  </div>  
  <div class="col-md-4">
    <div class="d-flex justify-content-center h-100 pt-4">
      <div class="card shadow">
        <div class="card-header bg-secondary text-light">
          <h3>Follow Your Favorite Cryptos!</h3>
        </div>
        <div class="card-body">
          <img alt="Card image cap" class="card-img-top img-fluid" src="images/crypto.png" />
           <p class="text-info">Keep track of all of your cryptocurrency!</p>
        </div>
        <div class="card-footer bg-secondary">
        </div>
      </div>
    </div>
  </div>

<div class="col-md-4">
    <div class="d-flex justify-content-center h-100 pt-4">
      <div class="card shadow">
        <div class="card-header bg-secondary text-light">
          <h3>All Your Financial Information!</h3>
        </div>
        <div class="card-body">
          <img alt="Card image cap" class="card-img-top img-fluid" src="images/wallet--v1.png" />
          <p class="text-info">Your secure, digital wallet!</p>
          
        </div>
        <div class="card-footer bg-secondary">
        </div>
      </div>
    </div>
  </div>  